<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/<%= committee._id %>/rollcall"+>Roll Call</a>
    <a href="/<%= committee._id %>/speakinglist">Speaking List</a>
    <a href="/<%= committee._id %>/motions">Motions</a>
    <a href="/<%= committee._id %>/mod">Mod</a>
    <a href="/<%= committee._id %>/unmod">UnMod</a>
    <a href="/<%= committee._id %>/voting">Voting</a>
    <a href="/<%= committee._id %>/statistics">Statistics</a>
</div>

<span id="sideNavOpenButton" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>



<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
    }
</script>