<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/committees.css" crossorigin="anonymous">

</head>
<body>
<%- include('./partials/navbar') %>
<div class="container">
    <h1 class="text-center my-5 ">My Committees</h1>
    <table class="table table-striped" id="committeeTable">
        <div id="createDiv">
            <a href="/committees/new" id="create">Create New Committee</a>
        </div>
        <thead>
          <tr>
            <th scope="col">Committee Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <% committees.forEach(function(committee){ %>
                <tr>
                    <td><%= committee.name %></td>
                    <td class="text-right"><a href="/<%= committee._id %>/rollcall">open</a></td>
                </tr>
            <% }) %> 
          <tr>
        </tbody>
      </table>
</div>
<%- include('./partials/footer') %> 







